@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #DADCE0;
  gap: 16px;
  font-family: 'Inter', sans-serif !important;

}
.row{
  border-right: 1px solid  #DADCE0;
}

@media (max-width: 680px) {
  .sidePannel{
      display: none;
  }
  body{
    gap: 0px;
  }
}
